.bundle
.DS_Store
config/*database.yml
db/original data/*.txt
db/original data/*.csv
db/patron data/*.csv
db/backups/*.dat.gz
db/backups/*.dat
db/*.sqlite3
db/*.sql
db/*.csv
log/*.log
tmp/
.sass-cache/