<h2>Welcome to Arbor School's new library catalog!</h2>

From this home page, you can: <br/>

<input type=button value="Simple Search" onclick="window.open('/', 'Simple Search','width=915,height=500,left=300,top=200,fullscreen=yes,toolbar=no,menubar=no,resizable=no,location=no,directories=no,status=no');"><br/>

<input type=button value="Check Out Books" onclick="window.open('/checkouts', 'Check Out Books','width=915,height=500,left=300,top=200,fullscreen=yes,toolbar=no,menubar=no,resizable=no,location=no,directories=no,status=no');"><br/>

<input type=button value="Check In Books" onclick="window.open('/checkin', 'Check In Books','width=915,height=500,left=300,top=200,fullscreen=yes,toolbar=no,menubar=no,resizable=no,location=no,directories=no,status=no');"><br/>