<h2>Welcome to Arbor School's new library catalog!</h2>

From this home page, you can access the following: <br/><br/>

<fieldset>
	<legend>Library Functions</legend>
	<table>
	<tr>
	<th></th>
	<th></th>
	<th></th>
	</tr>
	<tr>
	<td><input type=button value="Simple Search" onclick="window.open('/', '_parent','width=915,height=500,left=300,top=200,fullscreen=yes,toolbar=no,menubar=no,resizable=no,location=no,directories=no,status=no');"><br/></td>
	<td><input type=button value="Check Out Books" onclick="window.open('/checkouts', '_parent','width=915,height=500,left=300,top=200,fullscreen=yes,toolbar=no,menubar=no,resizable=no,location=no,directories=no,status=no');"><br/></td>
	<td><input type=button value="Check In Books" onclick="window.open('/checkin', '_parent','width=915,height=500,left=300,top=200,fullscreen=yes,toolbar=no,menubar=no,resizable=no,location=no,directories=no,status=no');"><br/></td>
	</tr>
	</table>
</fieldset>