<h2>Check Out Books<h2>


<% if flash[:notice] %>
<p class="flash"><%= flash[:notice] %></p>
<% elsif params[:error_id]=="1" %>
<p class="flash">Checkout was unsuccessful.</p>
<% end %>

<input type=button value="Refresh" onclick="window.open('/checkouts', '_self','width=915,height=500,left=300,top=200,fullscreen=yes,toolbar=no,menubar=no,resizable=no,location=no,directories=no,status=no');"><br/>
<p>

<% if @user %>
<p>
Welcome Back <%= h(@user.name)%>, ready to get reading?

<form action="/checkouts" method="post">
	Enter or scan the book accession number: <input id="accession" name="accession" type="text"></input>
	<input type="submit" value="Enter"/>
</form>
</p>

<script type="text/javascript" charset="utf-8">
$(function(){
	$('#accession').focus();
});	
</script>
<% else %>
<form id="card_form" action="/checkouts/new" method="get">
	Enter your library card number: <input id="library_card" name="library_card" type="text"></input>
	<input type="submit" value="Enter"/>
</form>

<script type="text/javascript" charset="utf-8">
$(function(){
	$('#library_card').focus();
});	
</script>
<% end %>

<script type="text/javascript" charset="utf-8">

	$(function(){

		<% if @playErrorSound || params[:error_id] %>
			$('#bonk')[0].play();
		<% end %>
		$('#card_form').submit(function(){
			var accession = $('#accession').val();
			if (accession && accession.length != 8) {
				$('#bonk')[0].play();
				return false;
			}
			return true;
		});
	});

	
</script>

<audio id="bonk" src="/bonk.mp3"></audio>