// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul.authors {
	list-style:none;
	margin-left: -50px;
}

#cover_image {
float:right;
position:relative;
top:0px;
right:0px;
margin-left:100px;
margin-right:0px;
margin-top:0px;
margin-bottom:10px;
}

#desc {
position:absolute;
top:125px;
right:25px;
margin-left:5px;
margin-right:5px;
margin-top:10px;
margin-bottom:5px;
}

a.button {
	-moz-box-shadow:inset 0px -1px 0px -19px #f29c93;
	-webkit-box-shadow:inset 0px -1px 0px -19px #f29c93;
	box-shadow:inset 0px -1px 0px -19px #f29c93;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fe1a00), color-stop(1, #ce0100) );
	background:-moz-linear-gradient( center top, #fe1a00 5%, #ce0100 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe1a00', endColorstr='#ce0100');
	background-color:#fe1a00;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:3px;
	border:1px solid #d83526;
	display:inline-block;
	color:#ffffff;
	font-family:Verdana;
	font-size:10px;
	padding:0px 5px;
	text-decoration:none;
	text-shadow:1px 1px 0px #b23e35;
	float:right;
	margin-left:5px;
	margin-right:5px;
	margin-top:5px;
	margin-bottom:5px;
}.classname:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ce0100), color-stop(1, #fe1a00) );
	background:-moz-linear-gradient( center top, #ce0100 5%, #fe1a00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce0100', endColorstr='#fe1a00');
	background-color:#ce0100;
}.classname:active {
	position:relative;
	top:0px;
}

#subject_button, #copy_button, #author_button, #edit_book {
float:none;
}
